<!--<head>
    <style>
        body{
            background-image: url("https://68.media.tumblr.com/e3a383bd37db7fe709ca9fccbaaf8457/tumblr_osvp3cLJhx1wqqrfao1_1280.png");
            background-attachment:fixed;
            background-repeat:no-repeat;
            background-color:#dc9f36;
        }
    </style>
</head>-->
<body>
<center>
<br>
<Br>
<br>
<br>
<br>
<br>
<br>
<h1>Welcome Admin.</h1>
<p>It is currently <%= DateTime.now.in_time_zone("Singapore").strftime("%B %d %Y") %> and the time is <%= DateTime.now.in_time_zone("Singapore").strftime("%I:%M %p")%>.</p>
<p>What would you like to do?</p>

<div>
     <% if cashier_signed_in? && admin_signed_in?%>
     <%= link_to raw("<i class= 'glyphicon glyphicon-shopping-cart'>" "</i> Show Products"), products_path, class:"btn btn-primary" %>
     <% else %>
    <%= link_to raw("<i class= 'glyphicon glyphicon-shopping-cart'>" "</i> Show Products"), products_path, class:"btn btn-primary" %>
    <%= link_to raw("<i class= 'glyphicon glyphicon-user'>" "</i> Show Cashiers"), cashiers_path, class:"btn btn-primary" %> <br><br><br>
     <%= link_to raw("<i class= 'glyphicon glyphicon-user'>" "</i> Cashier Login"), cashier_session_path, class:"btn btn-success" %>
     <% end %>
</div>
</center>
</body>