<!--<table class="table table-bordered">
    <thead>
        <tr>
            <th> CASHIERS </th>
            <th> ADMIN ID </th>
            <th> STATUS </th>
            <th colspan="3" class="text-center"> ACTIONS </th>
        </tr>
    </thead>
    <tbody>
        <% @cashiers.each do |cashier| %>
            <tr>
                <td> <%= cashier.name %> </td>
                <td> <%= cashier.status %> </td>
                <td> <%= cashier.admin_id %> </td>
                    <td class="text-center"> <%= link_to 'Show', cashier, class:"btn btn-primary" %> </td>
                    <td class="text-center"> <%= link_to 'Edit', edit_cashier_path(cashier), class:"btn btn-success" %> </td>
                    <td class="text-center"> <%= link_to 'Delete', cashier, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' }  %> </td>
            </tr>
        <% end %>
        
    </tbody>
</table>

<%= link_to raw("<i class='glyphicon glyphicon-plus'></i> New Cashier"), new_cashier_path, class:"btn btn-primary" %>-->