<div class="form-inputs col-md-offset-3 col-md-6">
    <%= simple_form_for(@cashier, url: @cashier.new_record? ? cashiers_path : cashier_path(@cashier), html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :name %>
    <%= f.input :email, label: 'E-mail' %>
    <center><%= f.input :status, label: 'Activate'%></center>
     <%= link_to raw("<i class= 'glyphicon glyphicon glyphicon-chevron-left'>" "</i> Back"), cashiers_path, class:"btn btn-danger" %>
    <%= f.button :submit, class:"btn btn-success" %>
   
  <% end %>
</div>