<h3><center>CASHIERS</center></h3>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>CASHIER</th>
            <th>CASHIER'S EMAIL</th>
            <th>STATUS</th>
            <th>SHOW</th>
            <th>EDIT</th>
            <th> DEACTIVATE</th>
        </tr>
    </thead>
    <tbody>
        <% @cashiers.each do |cashier| %>
            <tr>
                <td> <%= cashier.name %> </td>
                <td> <%= cashier.email %> </td>
                <!--<td> <%= cashier.status %> </td>-->
                <% if cashier.status == true %>
                    <td class="text-center"> Active </td>
                <% else %>
                    <td class="text-center"> Deactivated </td>
                <% end %>
                <td class="text-center"> <%= link_to 'Review', cashier, class:"btn btn-info" %> </td>
                <td class="text-center"> <%= link_to 'Edit', edit_cashier_path(cashier), class:"btn btn-primary" %> </td>
                <td class="text-center"> <%= link_to 'Deactivate', cashier, method: :delete, class:"btn btn-danger", data: { confirm: 'Deactivating: Are You Sure?' }  %> </td>
            </tr>
        <% end %>
        
    </tbody>
</table>

<%= link_to raw("<i class= 'glyphicon glyphicon-user'>" "</i>  Add New Cashiers"), new_cashier_path, class:"btn btn-primary" %>
<%= link_to raw("<i class= 'glyphicon glyphicon-repeat'>" "</i> Return to Admin Page"), admins_path, class:"btn btn-danger" %>
