<div class="col-md-9">
    <div class="row">
        <h3>Show Cashier</h3>
         <table class="table table-bordered">
            <thead>
                <tr>
                    <td> <strong> CASHIER NAME: </strong> </td>
                    <td> <strong> CASHIER PASSWORD: </strong></td>
                    <td> <strong> CASHIER STATUS: </strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <%= @cashier.cashier_name %></td>
                    <td> $<%= @cashier.cashier_status %> </td>
                    <td> <%= @cashier.status %> </td>
                    <div class="pull-right">
                        <%= link_to 'Back to Products Page', cashiers_path, class:"btn btn-danger" %>
                        
                    </div>
                </tr>
            </tbody>
    </div>
</div>