<div class="col-md-9">
    <div class="row">
        <h3>Show Cashier</h3>
         <table class="table table-bordered">
            <thead>
                <tr>
                    <td> <strong> CASHIER NAME: </strong> </td>
                    <td> <strong> ID: </strong></td>
                    <td> <strong> CASHIER STATUS: </strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> <%= @cashier.name %> </td>
                    <td> <%= current_admin.id %></td>
                    <td> <%= @cashier.status %> </td>
               
                    <div class="pull-right">
                        <%= link_to 'Back', cashiers_path, class:"btn btn-danger" %>
                        <%= link_to raw("<i class= 'glyphicon glyphicon-user'>" "</i> cashier login"), cashier_session_path, class:"btn btn-info" %>
                        
                    </div>
                </tr>
            </tbody>
    </div>
</div>