<div class="form-inputs col-md-offset-3 col-md-6">
  <%= simple_form_for(@product, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.input :product_name %>
    <%= f.input :product_price %>
    <center><%= f.input :product_status, label: 'Activate'  %></center>
     <%= link_to raw("<i class= 'glyphicon glyphicon glyphicon-chevron-left'>" "</i> Back"), products_path, class:"btn btn-danger" %>
    <%= f.button :submit, class:"btn btn-success" %>
   
  <% end %>
</div>