<center><h3>PRODUCTS</h3></center>
<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center col-md-3">PRODUCT NAME </th>
            <th class="text-center col-md-3">PRODUCT PRICE</th>
            <th class="text-center col-md-2">STATUS</th>
            <th colspan="4" class="text-center">ACTIONS</th>
            
        </tr>
    </thead>
    <tbody>
        <% @products.each do |products| %>
            <tr>
                <td> <%= products.product_name %> </td>
                <td> $<%= products.product_price %> </td>
                <% if products.product_status == true %>
                    <td class="text-center"> Active </td>
                <% else %>
                    <td class="text-center"> Deactivated </td>
                <% end %>
                <td class="text-center"> <%= link_to 'Review', products, class:"btn btn-info" %> </td>
                <td class="text-center"> <%= link_to 'Edit', edit_product_path(products), class:"btn btn-primary" %> </td>
                <td class="text-center"> <%= link_to 'Deactivate', products, method: :delete, class:"btn btn-danger", data: { confirm: 'Removing Product: Are You Sure?' }  %> </td>
            </tr> 
        <% end %>
        
    </tbody>
</table>
    <%= link_to raw("<i class= 'glyphicon glyphicon-shopping-cart'>" "</i> Add New Product"), new_product_path, class:"btn btn-success" %>
    <%= link_to raw("<i class= 'glyphicon glyphicon-repeat'>" "</i> Return to Admin Page"), admins_path, class:"btn btn-danger" %>
