<!DOCTYPE html>
<html>
  <head>
    <title>A S V U S POS SYSTEM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">A S V U S</a>
        </div>
        <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        <li>
          <% if admin_signed_in? %>
          <li><%= link_to "Products", products_path %></li> 
          <li><%= link_to "Cashiers", cashiers_path %></li>
          <% end %>
          <!--destroy session path to admin if v-->
          <% if cashier_signed_in? %>
          <li><%= link_to "Orders dapat dito pero in the mean time just a random page", cashiers_path %></li>
     
          <% end %>
        </li>
        </ul>

          <p class="navbar-text pull-right">
          <% if admin_signed_in? %>
            Logged in as <strong><%= current_admin.email %></strong>.
            <%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
            
          <% end %>
          <% if cashier_signed_in? %>
            <%= link_to 'Edit profile', edit_cashier_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_cashier_session_path, method: :delete, :class => 'navbar-link'  %>
            
          <% end %>
          </p>
        </div>
      </div>
    </nav> 
    
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
